.tab-pane .tab-header-area .tab {
    -fx-background-color: #005A9E;
    -fx-text-base-color: #FFFFFF;
}

.tab-pane .tab-header-area .tab:selected {
    -fx-background-color: #003F73;
    -fx-text-base-color: #FFFFFF;
}

.tab-pane .tab-header-area {
    -fx-background-color: #005A9E;
}
